:root {
    --main-item-color: rgba(0, 0, 0, 0.5);
    --main-item-blur: blur(5px);
    --border-radius: 1rem;
    --border-gap: 1rem;
}

body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Z003;
    font-size: 1.5rem;
    display: grid;
}

a {
    text-decoration: none;
    color: lightblue;
}

.top-sec {
    grid-row: 1;
    display: grid;
    padding-bottom: var(--border-gap);
}

header {
    display: grid;
    /* background-color: var(--main-item-color); */
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: var(--main-item-blur);
    padding: 5px;
    justify-content: auto;
    align-items: center;
    font-weight: bold;
}

.header-left {
    grid-column: 1;
    text-align: left;
}

.header-left img {
    width: 6rem;
    padding: 0.8rem;
    padding-left: 2rem;
}

.header-right {
    grid-column: 2;
    text-align: left;
    font-size: 4rem;
}

.middle-sec {
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 var(--border-gap) var(--border-gap) var(--border-gap);
}

nav {
    display: grid;
    background-color: var(--main-item-color);
    backdrop-filter: var(--main-item-blur);
    padding: 1em;
    border-radius: var(--border-radius);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    grid-column: 1;
}

nav .nav-main li {
    padding: 1em;
    border-bottom: 1px solid darkgrey;
}

nav .nav-main li:last-child {
    border-bottom: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav .nav-secondary li {
    padding: 0.5em 1em;
    border-bottom: none;
}

main {
    padding: 2em;
    margin-left: var(--border-gap);
    background-color: var(--main-item-color);
    backdrop-filter: var(--main-item-blur);
    flex-grow: 1;
    border-radius: var(--border-radius);
}

.bottom-sec {
    grid-row: 3;
    padding: 0 var(--border-gap) var(--border-gap) var(--border-gap);
}

footer {
    padding: 5px;
    background-color: var(--main-item-color);
    backdrop-filter: var(--main-item-blur);
    text-align: center;
    border-radius: var(--border-radius);
}

footer .footer-item {
    padding: 0 5px;
    display: inline;
    border-right: solid 1px darkgray;
}

footer .footer-item:last-child {
    border:none;
}

@media screen and (max-width: 1000px) {
    body {
        font-size: 1.5rem;
    }

    nav {
        width: -webkit-fill-available;
        text-align: center;
    }

    main {
        margin: var(--border-gap) 0 0 0;
    }
}
