body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    display: grid;
}

.top-sec {
    grid-row: 1;
    display: grid;
}

header {
    display: grid;
    background-color: #000;
    color: white;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.header-left {
    grid-column: 1;
    text-align: right;
}

.header-center {
    grid-column: 2;
}

.header-center img {
    width: 4rem;
}

.header-right {
    grid-column: 3;
    text-align: left;
}

.header-left,
.header-right {
    font-size: 2rem;
}

.middle-sec {
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    background-color: lightgrey;
}

nav {
    display: grid;
    background-color: maroon;
    color: white;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    grid-column: 1;
}

nav .nav-main li {
    padding: 1em;
    border-bottom: 1px solid darkgrey;
}

nav .nav-main li:last-child {
    border-bottom: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav .nav-secondary li {
    padding: 0.5em 1em;
    border-bottom: none;
}

main {
    padding: 2em;
}

.bottom-sec {
    grid-row: 3;
}

footer {
    padding: 5px;
    background-color: grey;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: maroon;
}

@media screen and (max-width: 1000px) {
    body {
        font-size: 1.5rem;
    }

    nav {
        width: -webkit-fill-available;
    }
}
